body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: lightblue;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration-color: mediumseagreen;
}

#sec-1 {
  background: lightgreen;
}

.sec-2 {
  background: aquamarine;
  text-align: center;
}

.underline {
  border-bottom: 5px solid #999966;
  font-weight: bold;
}

table {
  align-content: center;
  border: 3px solid navy;
  font-size: 1rem;
}

th {
  background-color: maroon;
  padding: 1rem 0;
  color: white;
  text-align: center;
}

tr {
  background-color: lightseagreen;
}

td {
  border: 2px dotted blue;
  color: darkgreen;
  text-align: center;
  padding: 1rem;
}
