body {
  background: lightblue;
}

h1 {
  text-align: center;
}

a {
  text-align: center;
}

h2 {
  text-align: center;
  text-decoration-color: mediumseagreen;
}

#sec-1 {
  background: lightgreen;
}

#sec-2 {
  background: yellow;
  text-align: center;
}

table {
  text-align: center;
}
