body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: lightblue;
}

div {
  padding: 10px;
}

#buttons {
  text-align: center;
}

#square {
  position: relative;
  top: 150px;
  left: 100px;
  width: 200px;
  height: 200px;
  border: 6px inset green;
  padding: 10px;
  background-color: lemonchiffon;
}

#photo {
  position: relative;
  top: 10px;
  left: 600px;
  border: 2px navy;
  padding: 10px;
}

h1,
h2 {
  padding: 10px, 50px;
  text-align: center;
  font-size: 2rem;
  color: navy;
}

p {
  text-align: center;
  font-size: 1.5rem;
}

a {
  text-align: center;
}

#sec-1 {
  background: lightgreen;
}

.sec-2 {
  background: aquamarine;
  text-align: center;
}

.underline {
  border-bottom: 5px solid #999966;
  font-weight: bold;
}

table {
  align-content: center;
  border: 3px solid navy;
  font-size: 1rem;
}

th {
  background-color: maroon;
  padding: 1rem 0;
  color: white;
  text-align: center;
}

tr {
  background-color: lightseagreen;
}

td {
  border: 2px dotted blue;
  color: darkgreen;
  text-align: center;
  padding: 1rem;
}
